body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    box-sizing: border-box;
}
.wadah{
    width: 1096px;
    margin: 0 auto;
}

.bg-nav{
    background-image: linear-gradient(45deg,#44DCDD, #5D6CDF);
    padding: 0.5%;
    width: 100%;
	box-shadow: 0px 2px 6px rgb(0,0,0,0.3);
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.coba-kolom p {
    background: #043fe2;
    padding: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 960px) {
    
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	width: 100%; 
	margin: 1% 0 1% 0%; 
	}
}